@model CurrentUser

@{
    ViewData["Title"] = "2FA";
}

@if (CurrentUser.SignedInUser == null)
{
    @using (Html.BeginForm("Login", "Home"))
    {
        <div class="text-center">

            <h1>Login</h1>

            <div>
                @Html.TextBoxFor(m => m.Email, new { placeholder = "Email" })
            </div>
            <div>
                @Html.PasswordFor(m => m.Password, new { placeholder = "Password" })
            </div>

            <div>
                <input type="submit" />
            </div>
        </div>
    }
}
else
{
    <div class="text-center">
        <h1>Bienvenido</h1>
    </div>

    <br />
    <a href="/home/logout">Sign out</a>
    <br />

    @if (CurrentUser.SignedInUser.TwoFactorEnabled)
    {
        <a href="/twofactorauthentication/disable">Disable two-factor</a>
    }
    else
    {
        <a href="/twofactorauthentication/enable">Enable two-factor</a>
    }
}
